/* 一般设置 */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  /*background-color: #a9a9a9;
  background: url("background.jpg") repeat-x fixed;*/
  background: rg(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

body {
  height: auto;
  width: 70%;
  margin: 0 auto;
  text-align: center;

}

/*html {
  background-color: blue;
}

@media (min-width: 30em) {
  html {
    background-color: pink;
  }
}*/
/* 文字排版 */

h1, h2, h3 {
  font-family: 'Sonsie One', 'ZCOOL KuaiLe', cursive;
  color: #2a2a2a;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px   black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-size: 2.2rem;
}

p, li {
  font-size: 1.5rem;
  line-height: 1.5;
}

article p{
  font-size: 2rem;

  font-family: 'Dancing Script','ZCOOL XiaoWei', serif;

}
article p span{
  font-family: 'Hi Melody', cursive;
}

figure{
  margin-top: 3rem;

}



.main_img{
  height: 40%;
  width: 40%;
}


figcaption{
  font-size: 2rem;
  /*color: deeppink;*/
  border: 1px solid white;
  background-color: deeppink;
  width: 500px;
  width: calc(23%);

}

/* 标题布局 */

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
}

nav {
  height: 50px;
  background-color: #66ccff;
  display: flex;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  transition-duration: 200ms;
  font-family: 'Sonsie One', 'ZCOOL KuaiLe', cursive;
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

nav a:hover {
  color: white;
  text-shadow: 0 0 10px wheat;
  transition-duration: 200ms;
  font-family: 'Sonsie One', 'ZCOOL KuaiLe', cursive;
}

input {
  font-size: 1.6rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

/* 主体布局 */

main {
  display: flex;
}

article {
  /*display: flex;
    flex-direction: column;
  justify-content: center;*/
  flex: 4;
  height: auto;

}

aside {
  flex: 1;
  margin-left: 10px;
  background-color: #66ccff;
}

aside li a{
  padding-bottom: 10px;
  background-color: rgb(224, 102, 126);
  color: #fff;
  text-decoration: none;
  padding: 4px;
  display: inline-block
}
aside li a:hover {
  background-color: rgb(212, 4, 70);
  color: #fff;
}

footer {
  margin-top: 10px;
  border: 3px solid #2a2a2a;
}

footer p{
  display: inline;

  border: 0.2rem solid #e26de2;
  border-radius: 5px;
}

/*footer div{
  border:1em dashed  #05790e;
  border-radius: 1em;
}*/